
.container {
    display: grid;
    grid-gap: 10px;
    background-color: #7194af;
    padding: 10px;
    grid-template-areas: 'header' 'main';
}

.container.light-layout {
    background-color: rgb(223, 207, 190);
    color: rgb(0, 0, 0);
}

.container.dark-layout {
    background-color: rgb(76, 106, 146);
    color: rgb(255, 255, 255);

}

.header {
    grid-area: header;
    background-color: rgba(255, 255, 255, 0.8);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    padding: 4px;
}

.header .create-new-note {
    grid-column: 1 / 1;
}

.header .styles-page {
    grid-column: 5 / 5;
}

.tab {
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f1f1;
    grid-column: 1 / 5;
    display: grid;
}

.filter-options:last-child {
    grid-column: 5 / 5;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.main {
    grid-area: main;
    background-color: rgba(122, 122, 122, 0.8);
}

div.note {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    margin: 5px 0;
    padding: 3px;
}
.finshedinfo{
    text-align: center;
}
.text-info{
    display: grid;
    grid-template-rows: 30px auto;
}
.control{
    display: grid;
    grid-template-rows: auto 30px;
}
div.note label{
    cursor: pointer;
}
.note h4{
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}

.title-area {
    display: grid;
    grid-template-columns: 1fr auto;
}
.description-area{
    border: 1px solid;
    padding: 5px;
}