.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2620";
    left: 1px;
    position: absolute;
}
.rating span.rate:before{
    left: 1px;
    position: absolute;
    content: "\2620";
}


form {
    display: grid;
    padding: 1em;
    /*background: #f9f9f9;*/
    border: 1px solid #c1c1c1;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

form button:hover {
    background: gold;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 3px solid gold;
}

form textarea {
    resize: vertical;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input, button {
        grid-column: 2 / 3;
    }
}
